= form_for @reservation do |f|
  =f.label :name
  =f.string :name, placeholder: "Name"
  %br
  =f.label :phone_number
  =f.string :phone_number, placeholder: "Description"
  %br
  =f.label :num_of_people
  =f.integer :num_of_people, placeholder: "Number of People in your group"
  %br
  =f.label :time
  =f.string :time, placeholder: "Reservation Time"
  %br
  =f.label :special_request
  =f.text_area :special_request, placeholder: "Special Requests for your group"
  %br
  =f.submit 
%hr
= link_to "home", root_path