= form_for @tables do |f|
  =f.label :table_number
  =f.integer :table_number, placeholder: "Table Number"
  %br
  =f.label :seats
  =f.integer :seats, placeholder: "Seats at table"
  %br
  =f.label :type
  =f.string :type, placeholder: "Table Type"
  %br
  =f.submit 
%hr
= link_to "home", root_path