.bodyhead
  %h2 Tables
  = link_to "Add Table", new_table_path
  %hr
  .bodycontent
    - @tables.each do |table|
      = link_to table.table_number, table_path(table)
      | 
      =table.seats
      |
      =table.tbl_typ
      |
      = link_to "Edit", edit_table_path(table)
      |
      = link_to "Delete", table_path(table), method: :delete
      |
      %br
